<h2>Edit <%= current_user.username %>'s Profile</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "centered-form" }) do |f| %>
  <%= f.error_notification %>
  <div class="ninety-width-input">
    <%= f.input :photo, as: :file,
        label: current_user.photo.present? ? cl_image_tag(current_user.photo.key) : image_tag("profile_pic.png"),
        label_html: { class: "profile-pic d-flex justify-content-center" },
        input_html: { class: "d-none" } %>
<hr>
    <%= f.input :username, required: true, autofocus: true, input_html: { class: "input-bar" } %>
    <%= f.input :email, required: true, autofocus: true, input_html: { class: "input-bar" } %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <div class="categories-toggle-container">
      <%= f.input :preferences,
        as: :check_boxes,
        collection_wrapper_tag: 'div',
        collection_wrapper_class: 'category-wrapper',
        item_wrapper_class: 'category-item',
        input_html: {class: 'category-selector'},
        collection: [[image_tag("food_icons/vegan-gray.png").html_safe, "vegan"], [image_tag("food_icons/vegetarian-gray.png").html_safe, "vegetarian"], [image_tag("food_icons/pescetarian-gray.png").html_safe, "pescetarian"], [image_tag("food_icons/peanut-free-gray.png").html_safe, "peanut-free"], [image_tag("food_icons/dairy-free-gray.png").html_safe, "dairy-free"], [image_tag("food_icons/add.png").html_safe, ""]],
        checked: current_user.preferences.split(" ") & ["vegan", "vegetarian", "pescetarian", "peanut-free", "dairy-free"] if !current_user.preferences.nil? %>
    </div>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password", class: "input-bar" } %>
    <hr>
    <%= f.input :password,
                label: "New Password",
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password", class: "input-bar" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password", class: "input-bar" } %>
  </div>
  <div class="form-actions navbar-margin btn submit-btn">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
