<div class="landing-page-container" data-controller="autosubmit" >
  <% unless current_user.nil? %>
    <% prefs_array = current_user.preferences.split(" ") %>
    <h2>Can I Eat This?</h2>
    <div class="icons-container">
        <% prefs_array.each do |pref| %>
          <%= image_tag("food_icons/#{pref}-gray.png").html_safe %>
        <% end %>
    </div>
  <% end %>
  <div class="scan-btn-container" data-autosubmit-target="hide">
    <%= image_tag("ciet_logo.png", class: 'scan-btn', id: 'logo') %>
    <%= image_tag("logo_without_plus.png", class: '', id: 'logo_2')%>
    <%= image_tag("plus.png", class: 'scan-btn-plus', id: 'logo_3') %>
    <%= simple_form_for @food, method: "post", data: {'autosubmit-target': "form"} do |f| %>
      <%= f.input :photos, as: :file, label: false, input_html: { multiple: true, data: {action: "input->autosubmit#submitForm"}, class: "image-form" } %>
    <% end %>
  </div>
  <div class="scan-btn-container d-none" data-autosubmit-target="show">
    <%= image_tag("logo_without_plus.png", class: 'scan-btn-rotate') %>
    <%= image_tag("plus.png", class:'scan-btn-plus-rotate rotate') %>
  </div>
  <div id="scan-text">
    <span>SCAN</span>
  </div>
</div>
