<h1>Your Scanned Product</h1>
<%= link_to "Scan another product", root_path %>
<% @food.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<h2>You're scanned Item is <%= "not " if !@vegan_boolean %>vegan</h2>
<div class="bar-container">
  <h2>All Ingredients</h2>
  <% if @vegan_flags.present? %>
    <% @vegan_flags.each do |ingredient| %>
      <div class="wide_bar_card red-background">
        <%= ingredient.strip.capitalize %> is not vegan
        <button data-controller="extended-infos" data-action="click->extended-infos#revealInfos">v</button>
        <div data-extended-infos-target="info" class="d-none extended-infos">
          Works!
        </div>
      </div>
    <% end %>
    <% (@food.ingredient_list.split(',') - @vegan_flags).each do |ingredient| %>
      <div class="wide_bar_card green-background">
        <%= ingredient.strip.capitalize %> is vegan
        <button data-controller="extended-infos" data-action="click->extended-infos#revealInfos">v</button>
        <div data-extended-infos-target="info" class="d-none">
          Works!
        </div>
      </div>
    <% end %>
  <% elsif @vegan_boolean == false %>
    <% @food.ingredient_list.split(',').each do |ingredient| %>
      <div class="wide_bar_card red-background">
        <%= ingredient.strip.capitalize %> is not vegan
        <button data-controller="extended-infos" data-action="click->extended-infos#revealInfos">v</button>
        <div data-extended-infos-target="info" class="d-none">
          Works!
        </div>
      </div>
    <% end %>
  <% elsif @vegan_flags.nil? || @vegan_boolean == true %>
    <% @food.ingredient_list.split(',').each do |ingredient| %>
      <div class="wide-bar-card green-background">
        <div class="text-wrap">
          <%= ingredient.strip.capitalize %> is vegan
        </div>
        <button class="btn toggler" data-controller="extended-infos" data-action="click->extended-infos#revealInfos">&gt;</button>
        <div class="d-none extended-infos" data-extended-infos-target="info">
          <div>
            <%= link_to "Google it!", "http://www.google.com/search?q=#{ingredient}", target: '_blank', class: "btn btn-primary border-top" %>
          </div>
          <%= link_to "🛑 Not Vegan", "", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
