<h1>Your Scanned Product</h1>
<%= link_to "Scan another product", root_path %>
<% @food.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<h2>You're scanned Item is <%= "not " if !@vegan_boolean %>vegan</h2>
<h2>Ingredients</h2>
<% @vegan_flags.each do |ingredient| %>
  <h3><%= ingredient.strip.capitalize %> is not vegan</h3>
<% end %>
<% (@food.ingredient_list.split(',') - @vegan_flags).each do |ingredient| %>
  <h3><%= ingredient.strip.capitalize %> is vegan</h3>
<% end %>
