<%# binding.pry %>
<% if @food.name.present? %>
  <h1><%= @food.name %></h1>
<% else %>
  <h1>Your Scanned Product</h1>
  <div class="d-flex justify-content-center">
    <%= simple_form_for @food, method: "patch" do |f| %>
      <div class="row g-3">
        <div class="col-auto">
          <h1><%= f.input :name, label: false, placeholder: "Enter Product Name" %></h1>
        </div>
        <div class="col-auto">
          <%= f.submit "+", class: "btn btn-primary mb-3" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<div class="pictures-container" data-controller="phototoggler">
  <% if @food.photos[1].present? %>
    <% if @food.vegan == "can-be" %>
      <%= cl_image_tag @food.photos[1].key, height: 300, width: 400, crop: :fill, data: {"phototoggler-target": "front", action: "click->phototoggler#togglePhoto"}, class: "big-centered-image yellow-border-image" %>
      <%= cl_image_tag @food.photos[0].key, height: 300, width: 400, crop: :fill, data: {"phototoggler-target": "back", action: "click->phototoggler#togglePhoto"}, class: "big-centered-image yellow-border-image d-none" %>
    <% elsif @food.vegan == "true" %>
      <%= cl_image_tag @food.photos[1].key, height: 300, width: 400, crop: :fill, data: {"phototoggler-target": "front", action: "click->phototoggler#togglePhoto"}, class: "big-centered-image green-border-image" %>
      <%= cl_image_tag @food.photos[0].key, height: 300, width: 400, crop: :fill, data: {"phototoggler-target": "back", action: "click->phototoggler#togglePhoto"}, class: "big-centered-image green-border-image d-none" %>
    <% else %>
      <%= cl_image_tag @food.photos[1].key, height: 300, width: 400, crop: :fill, data: {"phototoggler-target": "front", action: "click->phototoggler#togglePhoto"}, class: "big-centered-image red-border-image" %>
      <%= cl_image_tag @food.photos[0].key, height: 300, width: 400, crop: :fill, data: {"phototoggler-target": "back", action: "click->phototoggler#togglePhoto"}, class: "big-centered-image red-border-image d-none" %>
    <% end %>
  <% else %>
    <%= simple_form_for @food, method: "patch", data: { controller: "autosubmit", 'autosubmit-target': "form"} do |f| %>
      <div class="plus-icon-invisible">
        <div>
          <%= image_tag "icon_plus.png" %> Add Front Photo
        </div>
      </div>
      <%= f.input :photos, as: :file, label: false, input_html: { multiple: true, data: {action: "input->autosubmit#submitPicture"}, class: "invisible-form-small" } %>
    <% end %>
    <% if @food.vegan %>
      <%= cl_image_tag @food.photos[0].key, height: 300, width: 400, crop: :fill, data: {"phototoggler-target": "back", action: "click->phototoggler#togglePhoto"}, class: "big-centered-image green-border-image" %>
    <% else %>
      <%= cl_image_tag @food.photos[0].key, height: 300, width: 400, crop: :fill, data: {"phototoggler-target": "back", action: "click->phototoggler#togglePhoto"}, class: "big-centered-image red-border-image" %>
    <% end %>
  <% end %>
</div>
<% if @food.vegan == "can-be" %>
  <h2>Your scanned Item can be vegan</h2>
<% elsif @food.vegan == true %>
  <h2>Your scanned Item is vegan</h2>
<% else %>
  <h2>Your scanned Item is not vegan</h2>
<% end %>
<div class="bar-container">
  <h2>All Ingredients</h2>
  <% if @non_vegan_flags.present? %>
    <% @non_vegan_flags.each do |ingredient| %>
      <div class="wide-bar-card red-background" data-controller="extended-infos">
        <div class="toggle-grid">
          <p class="text-wrap"><strong><%= ingredient.strip.capitalize %></strong> is not vegan</p>
          <button class="btn toggler"  data-action="click->extended-infos#revealInfos">&gt;</button>
        </div>
        <div class="d-none extended-infos" data-extended-infos-target="info">
          <%= link_to "Google it!", "http://www.google.com/search?q=#{ingredient}", target: '_blank', class: "btn btn-primary" %>
          <%= link_to "🌱 Is Vegan", "", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if @can_be_vegan_flags.present? %>
    <% @can_be_vegan_flags.each do |ingredient| %>
      <div class="wide-bar-card yellow-background" data-controller="extended-infos">
        <div class="toggle-grid">
          <p class="text-wrap"><strong><%= ingredient.strip.capitalize %></strong> can be vegan</p>
          <button class="btn toggler"  data-action="click->extended-infos#revealInfos">&gt;</button>
        </div>
        <div class="d-none extended-infos" data-extended-infos-target="info">
          <%= link_to "Google it!", "http://www.google.com/search?q=#{ingredient}", target: '_blank', class: "btn btn-primary" %>
          <%= link_to "🌱 Is Vegan", "", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if @true_vegan_flags.present? %>
    <% @true_vegan_flags.each do |ingredient| %>
      <div class="wide-bar-card green-background" data-controller="extended-infos">
        <div class="toggle-grid">
          <p class="text-wrap"><strong><%= ingredient.strip.capitalize %></strong> is vegan</p>
          <button class="btn toggler"  data-action="click->extended-infos#revealInfos">&gt;</button>
        </div>
        <div class="d-none extended-infos" data-extended-infos-target="info">
          <%= link_to "Google it!", "http://www.google.com/search?q=#{ingredient}", target: '_blank', class: "btn btn-primary" %>
          <%= link_to "🛑 Not Vegan", "", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
